.navbar{
    background: #00939E;
    height: 100%;
}

.user {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    margin-bottom: 10px;
}

.user img {
    margin-top: 16px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.user .name {
    margin-top: 10px;
    color: white;
    font-weight: 450;
}

.active {
    background-color: #9FCD61;
}

mat-divider{
    background-color: #FBFBFB;
  }

.menu-item .menu-link{
    display: flex; 
    align-items: center;
    color: #F5F5F5;
}

.menu-item .menu-link span{
    margin-left: 5px;
    font-weight: 500;
}

