<div class="container-fluid mt-3">
    <div class="row ">
      <div class="col-md-2">
        <img class="img-fluid" src="../../../../../assets/img/perfil.jpg" alt="">
      </div>
      <div class="col-md-10">
        <p class="title">Maria Alejandra Polo</p>
        <small>Mendoza Argentina</small>
        <p> <i class="bi bi-envelope-at"></i> Maria@gmail.com</p>
        <p><i class="bi bi-telephone"></i> 542615896589</p>
      </div>
    </div>
  
    <h4 class="title mt-5">Profesion: Full Stack Developer</h4>
    <p> Dominio de diversos lenguajes front-end como HTML5, CSS y JavaScript. Dominio de
      lenguajes
      como: PHP, NET, Nodejs. Conocimiento en HTTP, REST, Sockets. Experiencia en
      bases de
      datos,
      como MongoDB, SQL. Experiencia con redes, cortafuegos, y más. Conocimientos en
      arquitectura
      de aplicaciones. Organización, trabajo en equipo, accesibilidad.</p>
  
    <h4 class="title mt-5">Mis experiencias profesionales</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore illo architecto
      corrupti minus sit saepe harum possimus vitae distinctio temporibus quisquam ratione,
      expedita tenetur corporis dignissimos at esse odit eveniet?</p>
  
    <h4 class="title mt-5">Idioma</h4>
    <p>Ingles,Portugues</p>
  
    <h4 class="title mt-5">Conocimientos informáticos</h4>
  
    <p>HTML5, CSS y JavaScrip,PHP, NET, Nodejs,Conocimiento en HTTP, REST,
      Sockets</p>
  
  </div>